configuration {
    modi: "drun,run,window";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: "   Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "tokyo-night"

window {
    width: 800px;
    border: 2px;
    border-color: #7aa2f7;
    border-radius: 12px;
    background-color: #1a1b26;
}

mainbox {
    background-color: transparent;
}

inputbar {
    children: [prompt,entry];
    background-color: transparent;
    border-radius: 8px;
    padding: 2px;
}

prompt {
    background-color: #7aa2f7;
    padding: 6px;
    text-color: #1a1b26;
    border-radius: 8px;
    margin: 20px 0px 0px 20px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 20px 0px 0px 10px;
    text-color: #c0caf5;
    background-color: #1a1b26;
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 20px 20px 20px;
    columns: 2;
    background-color: transparent;
}

element {
    padding: 5px;
    background-color: transparent;
    text-color: #c0caf5;
    border-radius: 8px;
}

element-icon {
    size: 25px;
}

element selected {
    background-color: #24283b;
    text-color: #7aa2f7;
}

message {
    background-color: #1a1b26;
    margin: 2px;
    padding: 2px;
    border-radius: 8px;
}

textbox {
    padding: 6px;
    margin: 20px 0px 0px 20px;
    text-color: #c0caf5;
    background-color: #1a1b26;
}
