theme = "catpuccin_mocha"

[editor]
mouse = true
bufferline = "multiple"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.statusline]
left = ["mode", "spinner"]
center = ["file-name"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-line-ending", "file-type"]
separator = "│"
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"


[editor.whitespace.render]

tab = "all"

[editor.whitespace.characters]

tab = "→"

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'
"'" = "'"

[editor.indent-guides]
render = true
character = "⸽" # Some characters that work well: "▏", "┆", "┊", "⸽"
skip-levels = 1

[keys.normal.space]
w = ":w" #save buffer
q = ":q!" # save and quit
n = ":bnext" # next buffer
p = ":bprev" # previous buffer

[keys.normal.backspace]
n = ":new" # new buffer
c = ":bc" # close current buffer
f = ":fmt" # format buffer using lsp
h = ":hs" # horizontal split
v = ":vs" # vertical split

[keys.normal."+"]
r = ":sh cargo build" # build rust app 

[keys.normal]
g = { a = "code_action" } # Maps `ga` to show possible code actions
esc = ["collapse_selection", "keep_primary_selection"]
C-j = ["extend_to_line_bounds", "delete_selection", "paste_after"] # move line down
C-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"] # move line up
C-y = [":new", ":insert-output yazi", ":buffer-close!", ":redraw"]
C-g = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"]
